In [1]:
import pandas as pd
import numpy as np
import feature_engine
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
data = pd.read_csv(r'../../../data/train.csv')
data.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [3]:
soil_columns = [x for x in data.columns if x.startswith('Soil_Type')]

In [4]:
x = pd.DataFrame(data[soil_columns])
x.head()

,Soil_Type1,Soil_Type2,Soil_Type3,Soil_Type4,Soil_Type5,Soil_Type6,Soil_Type7,Soil_Type8,Soil_Type9,Soil_Type10,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
x.columns[np.where(x!=0)[1]]

Index(['Soil_Type29', 'Soil_Type29', 'Soil_Type12', 'Soil_Type30',
       'Soil_Type29', 'Soil_Type29', 'Soil_Type29', 'Soil_Type29',
       'Soil_Type29', 'Soil_Type29',
       ...
       'Soil_Type10', 'Soil_Type10', 'Soil_Type10', 'Soil_Type11',
       'Soil_Type11', 'Soil_Type4', 'Soil_Type4', 'Soil_Type4', 'Soil_Type4',
       'Soil_Type2'],
      dtype='object', length=15120)

In [6]:
from sklearn.base import BaseEstimator, TransformerMixin
from feature_engine.encoding import RareLabelEncoder
# This function just makes sure that the object is fitted
from sklearn.utils.validation import check_is_fitted

In [27]:
data.shape

(15120, 56)

In [23]:
class FromDummiesToCategories(BaseEstimator, TransformerMixin):
    def __init__(self, cols_to_operate, new_column_name):
        self.cols_to_operate = cols_to_operate
        self.new_column_name = new_column_name
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X = X.copy()
        X1 = pd.DataFrame(X[self.cols_to_operate])
        serie = X1.columns[np.where(X1!=0)[1]]
        X[self.new_column_name] = serie
        X.drop(self.cols_to_operate, axis=1, inplace=True)
        return X

In [29]:
fdmtoc = FromDummiesToCategories(soil_columns, 'new_name')
fdmtoc

FromDummiesToCategories(cols_to_operate=['Soil_Type1', 'Soil_Type2',
                                         'Soil_Type3', 'Soil_Type4',
                                         'Soil_Type5', 'Soil_Type6',
                                         'Soil_Type7', 'Soil_Type8',
                                         'Soil_Type9', 'Soil_Type10',
                                         'Soil_Type11', 'Soil_Type12',
                                         'Soil_Type13', 'Soil_Type14',
                                         'Soil_Type15', 'Soil_Type16',
                                         'Soil_Type17', 'Soil_Type18',
                                         'Soil_Type19', 'Soil_Type20',
                                         'Soil_Type21', 'Soil_Type22',
                                         'Soil_Type23', 'Soil_Type24',
                                         'Soil_Type25', 'Soil_Type26',
                                         'Soil_Type27', 'Soil_Type28',
                                         'Soil_Type29', 'Soil_Type30', ...],
                        new_column_name='new_name')

In [30]:
x = fdmtoc.fit_transform(data)

Index(['Soil_Type29', 'Soil_Type29', 'Soil_Type12', 'Soil_Type30',
       'Soil_Type29', 'Soil_Type29', 'Soil_Type29', 'Soil_Type29',
       'Soil_Type29', 'Soil_Type29',
       ...
       'Soil_Type10', 'Soil_Type10', 'Soil_Type10', 'Soil_Type11',
       'Soil_Type11', 'Soil_Type4', 'Soil_Type4', 'Soil_Type4', 'Soil_Type4',
       'Soil_Type2'],
      dtype='object', length=15120)

In [31]:
x

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Wilderness_Area1,Wilderness_Area2,Wilderness_Area3,Wilderness_Area4,Cover_Type,new_name
0,1,2596,51,3,258,0,510,221,232,148,6279,1,0,0,0,5,Soil_Type29
1,2,2590,56,2,212,-6,390,220,235,151,6225,1,0,0,0,5,Soil_Type29
2,3,2804,139,9,268,65,3180,234,238,135,6121,1,0,0,0,2,Soil_Type12
3,4,2785,155,18,242,118,3090,238,238,122,6211,1,0,0,0,2,Soil_Type30
4,5,2595,45,2,153,-1,391,220,234,150,6172,1,0,0,0,5,Soil_Type29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15115,15116,2607,243,23,258,7,660,170,251,214,1282,0,0,1,0,3,Soil_Type4
15116,15117,2603,121,19,633,195,618,249,221,91,1325,0,0,1,0,3,Soil_Type4
15117,15118,2492,134,25,365,117,335,250,220,83,1187,0,0,1,0,3,Soil_Type4
15118,15119,2487,167,28,218,101,242,229,237,119,932,0,0,1,0,3,Soil_Type4
15119,15120,2475,197,34,319,78,270,189,244,164,914,0,0,1,0,3,Soil_Type2

In [ ]:
x

In [ ]:
x['new_name'].value_counts(normalize=True)

In [ ]:
from feature_engine.encoding import RareLabelEncoder

def load_titanic():
    data = pd.read_csv(
        'https://www.openml.org/data/get_csv/16826755/phpMYEkMl')
    data = data.replace('?', np.nan)
    data['cabin'] = data['cabin'].astype(str).str[0]
    data['pclass'] = data['pclass'].astype('O')
    data['embarked'].fillna('C', inplace=True)
    return data

data = load_titanic()

# Separate into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    data.drop(['survived', 'name', 'ticket'], axis=1),
    data['survived'], test_size=0.3, random_state=0)

# set up the encoder
encoder = RareLabelEncoder(tol=0.03, n_categories=2, variables=['cabin', 'pclass', 'embarked'],
                           replace_with='Rare')

# fit the encoder
encoder.fit(X_train)

# transform the data
train_t = encoder.transform(X_train)
test_t = encoder.transform(X_test)

encoder.encoder_dict_

In [ ]:
X_train['cabin'].value_counts(normalize=True)

In [ ]:
train_t['cabin'].value_counts(normalize=True)

In [ ]:
test_t['cabin'].value_counts(normalize=True)