In [1]:
import pandas as pd

In [5]:
df_a = pd.DataFrame({'Number':[11, 12, 13, 14, 15],'Color': ['Red', 'Blue', 'Green', 'Yellow', 'Orange']})
df_a

   Number   Color
0      11     Red
1      12    Blue
2      13   Green
3      14  Yellow
4      15  Orange

In [6]:
df_b = pd.DataFrame({'Number':[21, 22, 23, 24, 25],'Color': ['Violet', 'Black', 'White', 'Brown', 'Pink']})
df_b

   Number   Color
0      21  Violet
1      22   Black
2      23   White
3      24   Brown
4      25    Pink

In [10]:
# These allow us the class to inherit Scikit-learn methods
# such as fit and transform
from sklearn.base import BaseEstimator, TransformerMixin
# This function just makes sure that the object is fitted
from sklearn.utils.validation import check_is_fitted

class SubtractMin(BaseEstimator, TransformerMixin):
    """
    code from 
    https://towardsdatascience.com/writing-your-own-scikit-learn-classes-for-beginners-1e4e7d4de203
    """
    def __init__(self, cols_to_operate):
        self.columns = cols_to_operate
        
    def fit(self, X, y=None):
        self.min_val_ = X[self.columns].min()
        return self
    
    def transform(self, X):
        # make sure that it was fitted
        check_is_fitted(self, 'min_val_')
        X = X.copy() # This is so we do not make changes to the original dataframe
        X[self.columns] = X[self.columns] - self.min_val_
        return X

In [11]:
sub = SubtractMin('Number')
sub.fit_transform(df_a)

   Number   Color
0       0     Red
1       1    Blue
2       2   Green
3       3  Yellow
4       4  Orange

In [13]:
sub.transform(df_b)

   Number   Color
0      10  Violet
1      11   Black
2      12   White
3      13   Brown
4      14    Pink